<section class="relative bg-zinc-900 text-white">
  <div class="w-full h-[60vh] md:h-[85vh]">
     <img ngSrc="https://tottenhamhotspurs.shorthandstories.com/2025-26-away-kit-revealed/assets/CoOadDvAVo/tottenham-away-kit-bts-32-2496x3120.webp" alt="Athlete running on a track" fill class="object-cover opacity-60" priority>
  </div>
  <div class="absolute bottom-10 left-4 sm:left-8 lg:left-16 text-left">
    <h1 class="text-4xl sm:text-6xl lg:text-8xl font-extrabold display-font">FEEL THE UNREAL</h1>
    <p class="mt-4 max-w-lg text-lg">
      “Go beyond your limits with us.
Experience our new cushioning technology that delivers comfort, responsiveness, and power in every movement — for a truly superior sports experience.”
    </p>
    <div class="mt-8">
      <a routerLink="/sale" class="inline-block bg-white text-black font-bold py-3 px-8 rounded-full text-lg hover:bg-zinc-200 transition-colors">
        Shop Now
      </a>
    </div>
  </div>
</section>