<section class="py-12 sm:py-24">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h2 class="text-3xl sm:text-4xl font-extrabold tracking-tight text-zinc-900 display-font mb-8">BEST SALER</h2>
    <div class="relative w-full h-[50vh] md:h-[70vh] text-white">
      <img ngSrc="https://img.fcbayern.com/image/upload/f_auto/q_auto/ar_2:1,c_fill,g_custom,w_1280,dpr_2/v1720373181/cms/public/images/fcbayern-com/homepage/Saison-24-25/Galerien/Olise/06-michael-olise-070724.jpg" alt="Lifestyle shot of someone wearing sports gear" fill class="object-cover rounded-lg">
      <div class="absolute bottom-10 left-10">
        <h3 class="text-4xl sm:text-6xl font-extrabold display-font">SALE</h3>
        <p class="mt-4 max-w-md text-lg">
          Welcome to FC Bayern — where passion and performance unite,
          Experience official gear that embodies the pride and spirit of true champions.
        </p>
        <div class="mt-8">
          <a routerLink="/sale" class="inline-block bg-white text-black font-bold py-3 px-8 rounded-full text-lg hover:bg-zinc-200 transition-colors">
            Shop FC Bayern
          </a>
        </div>
      </div>
    </div>
  </div>
</section>